<link rel="stylesheet" href="<%= assetPath('css/chat-box.css') %>">

<% if(locals.user){ %>
    <div id="chat-box">
        <div id="message-list-container">
            <ul class="message-list">        
            </ul>
        </div>
        <div id="message-form">
            <input id="message-input" class="clearfix" type="text" placeholder="Type message">
            <button id="send-message" class="clearfix">Send</button>
        </div>
    </div>
<%}%>
