<li id="comment-<%=comment.id%>">
    <div id="comment">
        <small id="comment_creator_detail">
            <span id="comment-creator"><%=comment.user.user_name%></span>
            <%if(locals.user && (comment.user.id==locals.user.id || post.user.id==locals.user.id)){%>
                <a class="delete-comment-button" href="/comment/destroy/<%=comment.id%>">X</a>
            <%}%>
            
        </small>
        <p>
            <%=comment.content%>
        </p>
        
    </div>
    <div id="comment_likes" class="like_section">
        <a href>Like</a>
        <a class="total_likes" href>0 Likes</a>
    </div>
</li>    


