<li>
    <p>
        <%if(locals.user && (comment.user.id==locals.user.id || post.user.id==locals.user.id)){%>
            <small><a href="/comment/destroy/<%=comment.id%>">X</a></small>
        <%}%>
        <%=comment.content%>
    </p>
    <small><span><%=comment.user.user_name%></span></small>
</li>    