<li class="comment-list">
    <div id="comment">
        <small id="comment_creator_detail">
            <span id="comment-creator"><%=comment.user.user_name%></span>
            <%if(locals.user && (comment.user.id==locals.user.id || post.user.id==locals.user.id)){%>
                <a href="/comment/destroy/<%=comment.id%>">X</a>
            <%}%>
            
        </small>
        <p>
            <%=comment.content%>
        </p>
        
    </div>
</li>    


