<script src="https://kit.fontawesome.com/eb1653aab2.js" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="/css/footer"> -->

<footer>
    
    <div class="links">
        <li>
            <a href="/">Home</a>

        </li>
        <% if(locals.user){%>
            <li>
                <a href="/user/profile/<%=user.id%>">Profile</a>
            </li>
        <%}%>
        
    </div>
    <div class="copyright">
        <li> <a href="https://www.github.com/BAAHUBALI7781" style="text-decoration: none;color:white"><i class="fab fa-github"></i> Baahubali7781</a></li>
    </div>
</footer>