<script src="https://kit.fontawesome.com/eb1653aab2.js" crossorigin="anonymous"></script>

<footer>
    
    <div class="links">
        <li>
            <a href="/">Home</a>

        </li>
        <li>
            <a href="/user/profile/<%=user.id%>">Profile</a>
        </li>
    </div>
    <div class="copyright">
        <i class="far fa-copyright"></i>
        <span>Baahubali7781. </span>
        <span>All rights reserved</span>
    </div>
</footer>