<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">

<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: black;">
    <div class="container-fluid">
        <h2>
            <a class="text-light" href="/"><img src="<%= assetPath('images/SOCIO.CODES.png')%>" alt=""></a>
        </h2> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <% if(locals.user){ %>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/blogs">All Posts<span class="text-light">&nbsp;&nbsp;&nbsp;&nbsp;|</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/friend-post">Friends' Posts</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/users">Users<span class="text-light">&nbsp;&nbsp;&nbsp;&nbsp;|</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/socio-chat">Chatroom<span class="text-light">&nbsp;&nbsp;&nbsp;&nbsp;|</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/user/profile/<%=locals.user.id%>"><%=user.user_name%><span class="text-light">&nbsp;&nbsp;&nbsp;&nbsp;|</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/user/sign-out">Sign Out</a>
                </li>
            </ul>
                
            <%}else{%>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/user/sign-in-page">Sign In<span class="text-light">&nbsp;&nbsp;&nbsp;&nbsp;|</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/user/sign-up-page">Sign Up</a>
                    </li>
                </ul>
                
            <%}%>    
        </div>
    </div>
    
  </nav>
