<% if(locals.user){%>
    <form id="post_form" action="/post/new-post" id="new-post" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Write something to post..." required></textarea>
        <button type="submit" class="btn btn-primary">Post</button>

    </form>
<%}%>
