<link rel="stylesheet" href="/css/signup.css">
<h1>Forgot password</h1>

<form action="/user/reset" method='POST'>
    <div class="container">
        <p style="margin-left:4%">Enter email of the account you want to sign in..</p>
        <input type="email" name="email" required placeholder="Email">
        <button type="submit">Submit</button>
    </div>
</form>
