
<link rel="stylesheet" href="/css/home.css">
<div id="container">
    
    <section id="feed">
        <%- include('_postform'); -%>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post'); -%>
                <%}%>
            </ul>
        </div>
        
    </section>
    
    
</div>

<script src="/js/post_comments.js"></script>
<script src="/js/home_posts.js"></script>

<script src="/js/toggle_like.js"></script>

<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>


