<script src="<%= assetPath('js/homepage.js') %>"></script>
<link rel="stylesheet" href="<%= assetPath('css/homepage.css') %>">
<div class="beauty">
    <div class="logo">
        <img src="<%= assetPath('images/SOCIO.CODES.png')%>" alt="">
    </div>
    <%if(!locals.user){%>
        <div class="typing">
            <h2 class="css-typing"><span style="color:red">Socio.Codes</span> is an interactive, technical</h2>
            <h2 class="css-typing">blogging website for budding developers.</h2>
            <h2 class="css-typing">So if you are a tech-geek, this is the</h2>
            <h2 class="css-typing">right platform for you...</h2>
            <div class="accounts">
                <button class="create-account">
                    <a href="/user/sign-up-page">Create Account</a>
                 </button>
                 <button class="create-account">
                     <a href="/user/sign-in-page">Sign In</a>
                  </button>
            </div>
            
        </div>
    <%}else{%>
        <div class="typing">
            <h2 class="css-typing">Hi <%=locals.user.user_name%>...</h2>
            <h2 class="css-typing">Welcome to <span style="color:red">Socio.Codes</span></h2>
            <h2 class="css-typing">Navigate to the blogs page and share your </h2>
            <h2 class="css-typing">knowledge with the community. Checkout</h2>
            <h2 class="css-typing">Chatrooms too, you may find something</h2>
            <h2 class="css-typing">interesting...</h2>
            <div class="features">
                <button class="feature">
                    <a href="/blogs">Blogs</a>
                 </button>
                 <button class="feature">
                     <a href="/socio-chat">Chatrooms</a>
                  </button>
            </div>
            
            
        </div>
    <%}%>
    
    
        
</div>


