<% if(token.isValid==true){%>
<h3>Change your password</h3>
<form action="/user/confirm-change/<%=token.accessToken%>" method="POST">
    <input type="password" name="pass" placeholder="New Password">
    <input type="password" name="confirm_pass" placeholder="Confirm Password">
    <button type="submit">Change Password</button>
</form>
<%}else{%>
    <h2>Token Expired!!</h2>
<%}%>
