<link rel="stylesheet" href="/css/signup.css">


<form action="/user/sign-up" method="POST">
    <h1>Sign Up Page</h1>
    <div class="container">
        <input type='text' name='user_name' id="user_name" placeholder="Name" required>
        <input type='email' name='email' id="email" placeholder="Email" required>
        <input type='password' name='password' id="password" placeholder="Password" required>
        <input type='password' name='confirm_password' id="password" placeholder="Confirm Password" required>
        
        <button type="submit">Sign Up</button>
    </div>
    
    
</form>
<p>
    <a href="/user/auth/google">Google Signup</a>
</p>