<link rel="stylesheet" href="<%= assetPath('css/signup.css') %>">


<form action="/user/sign-in" method="POST">
    
    <div class="container">
        <button class="google-sign">
            <i class="fab fa-google"></i>
            <a href="/user/auth/google">Google</a>
        </button>

        <p>OR</p>
        
        <input type='email' name='email' id="email" placeholder="Email" required>
        <input type='password' name='password' id="password" placeholder="Password" required>

        <p class="forgot">
            <a href="/user/forget-password">Forgot Password?</a>
        </p>
        <button type="submit">Sign In</button>
    </div>
    
    
</form>

