::-webkit-scrollbar {
    display: none;
}
#chat-box{
    width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 600px;
    margin:auto;
    margin-top:130px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
	background-color: #fff;
    #message-list-container{
        min-height:400px;
	    max-height:400px;
	    overflow: scroll;
        .seperate-message{
            padding:10px;
            display: flex;
            flex-direction: column;
            .details{
                background-color:#1e1e3a ;
                color:white;
                padding:3px;
                border-radius: 5px 5px 0px 0px;
            }
            #user_detail{
                background-color:green;
            }
            .message{
                background-color:#292953;
                color:white;
                padding:5px;
                text-align: justify;
                border-radius: 0px 0px 5px 5px;
            }
        }

    }
    #message-form{
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;

        #message-input{
            width: 70%;
            border:1px solid grey;
            outline:none;
            padding:3px;
        }

        #send-message{
            width: 30%;
            padding:3px;
            font-size: 1rem;
            color: white;
            border: none;
            background-color: rgb(17, 17, 48);
        }
        #send-message:hover{
            background-color: rgb(32, 32, 68);
        }
    }
}
@media screen and (max-width:800px) {
	#chat-box {
        width:85%;
	}
}