::-webkit-scrollbar {
    display: none;
}
#chat-box{
    width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 1000px;
    margin:auto;
    margin-top:30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
	background-color: #fff;
    #message-list-container{
        min-height:500px;
	    max-height:500px;
	    overflow: scroll;
        .seperate-message{
            padding:10px;
            display: flex;
            flex-direction: column;
            .details{
                display: flex;
                justify-content: space-between;
                background-color:#1e1e3a ;
                color:white;
                padding:3px;
                border-radius: 5px 5px 0px 0px;
            }
            #user_detail{
                background-color:green;
            }
            .message{
                display:flex;
                justify-content: space-between;
                background-color:#292953;
                color:white;
                padding:5px;
                text-align: justify;
                border-radius: 0px 0px 5px 5px;
                .message-setting{
                    display:flex;
                    a{
                        margin-left:8px;
                    }
                }
                p{
                    margin-bottom:0px;
                }
                a{
                    color:white;
                }
                a:hover{
                    color:red;
                }
            }
        }

    }
    #message-form{
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;

        #message-input,#message-link{
            width: 70%;
            border:1px solid grey;
            outline:none;
            padding:3px;
            
        }
        #message-input{
            width:100%;
        }

        #send-message{
            width: 30%;
            padding:3px;
            font-size: 1rem;
            color: white;
            border: none;
            background-color: rgb(17, 17, 48);
        }
        #send-message:hover{
            background-color: rgb(32, 32, 68);
        }
    }
}

.chat-home{
    display: flex;
    flex-wrap:wrap;
    min-height:80vh;
    justify-content: space-around;
    align-items: center;
    
    .chat-seperate{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        display: flex;
        flex-direction: column;
        margin:10px;
        transition: transform .2s;
        a{
            img{
                width:300px;
                height:300px;
    
            }
        }
        
        .category{
            padding:6px;
            text-align: center;
            a{
                color:black;
                font-size:1.5rem;
                text-decoration: none;
            }
        }
    }
    .chat-seperate:hover{
        transform: scale(1.1);
    }
}
@media screen and (max-width:800px) {
	#chat-box {
        width:85%;
	}
}