footer{
    background-color: rgb(17, 17, 48);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    i{
        color:white;
    }
    span{
        color:white;
    }
    .links{
        display: flex;
        margin-bottom: 2%;
        width:15%;
        justify-content: space-around;
        li{
            list-style: none;
            a{
                font-size: 1.1rem;
                color:white;
                text-decoration: none;
            }
        }
        
    }
    
    
}