body{
    text-align: center;
    .profile-details{
        margin:20px auto;
        padding:20px;
        border:1px solid rgb(245, 239, 239);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:25%;
        box-sizing: border-box;
        margin-bottom: 50px;
        p{
            margin-bottom: 0;
        }
        .my_img{
            object-fit: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .toggle-friend-button{
                text-decoration: none;
                border: 1px solid rgb(17, 17, 48);
                padding:3px;
                font-size: 1rem;
                background-color: rgb(17, 17, 48);
                color:white;
            
        }
        .toggle-friend-button:hover{
            color:black;
            background-color: white;
        }

    }
    .edit_details{
        border:1px solid lightgray;
        padding:10px;
        width:30%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin:auto;
        box-sizing: border-box;
        .update-form{
            display: flex;
            flex-direction: column;
            // width:40%;
            margin:auto;
            .name-field{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                
                input[type=text],input[type=email]{
                    width:75%;
                    padding: 12px 20px;
                    margin: 8px 5px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    outline:none;
                }

            }
            .file-input{
                width:100%;
                margin:5% 25%;
                
            }
            .submit{
                width:100px;
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
                margin:auto;
                padding:10px;
                // margin-top:10%;

            }
            .submit:hover{
                background-color: #0c79ee;
            }
            
        }
    }
}
@media screen and (max-width:900px){
    body{
        .profile-details{
            width:50%;
        }
        .edit_details{
            width:50%;
            .update-form{
                // width:80%;
                .name-field{
                    width:100%;
                    flex-direction: column;
                    input[type=text],input[type=email]{
                        width:60%;
                    }
                    
                }
                .file-input{
                    width:100%;
                    margin:10% 25%;
                    
                }
                .submit{
                    margin-top:0;
                    width:30%;
                }
            }
        }
    }
    

}