.profile-page{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    .profile-details{
        width:30%;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
        min-height:300px;
        margin:4% 0% 0% 2%;
        .toggle-friend-button{
            border:1px solid rgb(17, 17, 48);
            background-color: rgb(17, 17, 48);
            color:white;
            text-decoration: none;
            padding:6px;
            margin-top:0;
        }
        
        .dummy{
            height:30px;
            transition: all 0.8s ease 0s;
        }
        img{
            margin-top:20px;
            border-radius: 50%;
            width:180px;
            height:180px;
            box-sizing: border-box;
            transition: all 0.3s ease 0s;
        }
        p{
            color:rgb(17, 17, 48);
            font-size: 1.5rem;
            transition: all 1s ease 0s;
        }
        .links{
            display:flex;
            justify-content: center;
            flex-wrap: wrap;
            padding:10px;
            margin-top:20px;
            transition: all 0.8s ease 0s;
            .iconify,i{
                color:rgb(17, 17, 48);
                font-size: 1.6rem;
            }
            a{
                margin-left:15px;
            }
        }
    }
    .profile-details:hover{
        .links,.dummy{
            background-color:rgb(17, 17, 48);
        }
        .iconify,i{
            color:white;
        }
        p{
            text-decoration: underline;
        }
        img{
            width:150px;
            height:150px;
            border:3px solid rgb(17, 17, 48);
            padding:5px;

        }
        .toggle-friend-button{
            color:rgb(17, 17, 48);
            background-color: white;
        }
    }
    .edit-details{
        width:40%;
        margin:1.5% 0% 0% 5%;
        form{
            display: flex;
            flex-direction: column;
            padding:5px;
            h2{
                color:rgb(17, 17, 48);
            }
            div{
                margin:10px;
                input{
                    margin-left:5px;
                    border:transparent;
                    width:35%;
                    font-size:0.9rem;
                    color:rgb(17, 17, 48);
                }
                input:focus{
                    outline:none;
                    border-bottom: 1px solid rgb(17, 17, 48);
                }
                input[type="file"]{
                    border:transparent;
                }
                .iconify,label{
                    color:rgb(17, 17, 48);
                    font-size: 1.1rem;
                }
            }
            button{
                width:15%;
                padding:3px;
                font-size:1.1rem;
                margin-left: 20%;
                margin-bottom:2%;
                background-color:white;
                color:rgb(17, 17, 48);
                border:1px solid rgb(17, 17, 48);
                border-radius: 3px;

            }
            button:hover{
                color:white;
                background-color: rgb(17, 17, 48);
            }
            ::placeholder{
                font-size: 0.9rem;
            }
        }
        
    }
}
@media screen and (max-width:1170px){
    .profile-page{
        .profile-details{
            width:40%;
            margin-top:4%;
        }
        .edit-details{
            width: 55%;
        }
    }
}
@media screen and (max-width:850px){
    .profile-page{
        .profile-details{
            width:60%;
            margin-top:4%;
        }
        .edit-details{
            width: 80%;
            margin:6% 0% 0% 35%;
            input{
                width:50%;
            }
        }
    }
}